@page
@model Spry.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";
}


<div class="card card__layout card__width mb-5">
    <img class="mx-auto" alt="achieve logo" src="~/images/achieve-logo-white.svg" />
    <div class="signUp__header__container mb-4">
        @* <h4 class="signUp__header">Register</h4>
        <p class="form-info-p"> Create a new  account </p> *@
    </div>
    <form class="signUp w-100" id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control ach__input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-1">
            <input asp-for="Input.Password" class="form-control ach__input" autocomplete="current-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div>
            <p class="mb-4 px-1">
                <a id="forgot-password" asp-page="./ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">Forgot your password?</a>
            </p>
        </div>

        <div class="mb-4">
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>
        </div>
        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </form>
    <div class="alternate_signin_container">
        <div id="or-separator" class="d-flex or-separator mt-12 snapple-seperator mb-3">
            <span class="or-text">or</span>
        </div>

        <div class="d-flex justify-content-start mb-3">
            <span class="text-uppercase alternate_signin_container_span"><b>sign in using</b></span>
        </div>
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) > 0)
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="d-flex justify-content-between mb-2">
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    @if (provider.DisplayName == "Yahoo")
                                    {
                                        <img src="/images/yahoo.svg">
                                    }
                                    else if (provider.DisplayName == "Google")
                                    {
                                        <img src="/images/google.svg">
                                    }
                                    else if (provider.DisplayName == "Microsoft")
                                    {
                                        <img src="/images/microsoft.svg">
                                    }
                                    @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
<div>
    <p>
        New to achieve?
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Join now</a>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

